*{
    padding: 0;
    margin: 0;
    color: aliceblue;
}
body{
    font-family: "Roboto",sans-serif;
    background-color:black;
}
.navbar{
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 75px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
}
.logoContainer>img{
    width: 60px;
}
.leftNav{
    display: flex;
    width: 62%;
    margin: auto;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}
i{
    color: aliceblue;
}
.rightNav{
    display: flex;
    width: 30%;
    margin: auto;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 600;
    align-items: center;
}
#sub{
    background-color: orangered;
    padding: 1.5%;
    width:150px;
    border-radius:15px;
    font-size: 16px;
    text-align: center;
    height: 40px;
}
.rightNav img{
    width: 30px;
    height: 30px;
}
.menuContainer{
    display: flex;
    margin: auto;
    width: 95%;
    justify-content: space-evenly;
    font-size: 16px;
    font-weight: 600;
}
.search{
    width: 30px;
    height: 30px;
}
.navbarContainer{
    display: flex;
    margin: auto;
    justify-content: space-between;
    font-size: 9px;
    font-weight: 600;
}
a{
    text-decoration: none;
}
.plandetails{
    padding: 3%;
}
#plans3{
    display: flex;
    width: 95%;
    column-gap: 20px;
    margin: auto;
}
#plans3 img{
    width: 420px;
}
#platforms{
    height: 80px;
    display: flex;
    background-color: black;
    width: 70%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}
#a,#b,#c,#d,#e,#f{
    width: 40px;
}
#c{
    width: 100px;
}

.popup-overlay{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0,0.5);
    display: none;
}
.popup{
    position: fixed;
    top: -150%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:350px;
    height: auto;
    background:rgb(82, 75, 75)
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding : 50px;
}
.popup>h3{
    font-size: 28px;
    line-height: 70px;
    color: rgb(11, 11, 49);
    margin-top: -25px;
    text-decoration: underline;
}
.popup h4{
    border: 1px solid red;
    font-size: 22px;
    line-height: 45px;
    width: auto;
    text-align: center;
    padding: 2%;
    margin: auto;
    background-color: rgb(218, 115, 47);
    color: rgb(46, 5, 70);
    border-radius: 15px;
}
.popup button{
    width: 100%;
    height: 50px;
    margin: auto;
    text-align: center;
    align-items: center;
    font-size: 22px;
    font-weight: 600;
}
.popup .popup-close-btn{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    padding: 5px;
    color: red;
    font-weight: 600;
}
body.popup-active .popup{
    top: 50%;
}
body.popup-active .popup-overlay{
    display: block;
}

